    <footer class="footer bg-primary">
      <p>Open for feedback</p>
      <form class="feedback-form" action="">
        <input class="feedback-input my-2" type="text" placeholder="Type here...">
        <input class="feedback-submit" type="submit" value="Submit">
      </form>
      <p style="font-size: 1rem;">Made with love by Daksh Agarwal</p>
  </footer>