<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 2px;">
        <div class="container-fluid">
          <i class="fa-solid fa-rainbow mx-2 rainbow"></i>
          <a class="navbar-brand" href="#">Weather Application</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          </div>
          <button class="btn btn-outline-light" type="submit">
            <a class="navbar-link" href="/">home</a>
          </button>
          <button class="btn btn-outline-light mx-2" type="submit">
            <a class="navbar-link" href="/about">About Me</a>
          </button>
          <button class="btn btn-outline-light" type="submit">
            <a class="navbar-link" href="/weather">Wheater</a>
          </button>
        </div>
      </nav>