<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
      <nav aria-label="breadcrumb" style="background:blue;">
        <ol class="breadcrumb my-0 py-2 bg-primary" style="border:white 1px solid; margin:0;">
          <li class="breadcrumb-item active" aria-current="page" style=" color:white; font-size: larger;">Home</li>
        </ol>
      </nav>
        <div class="main-header col-12" style="margin-top: 2rem;">
          <div class="col-6 main-header-left">
            <h1>Wheather Application</h1>
            <h3>Find the <span style="color: rgb(128, 255, 0);">weather</span> in your hometown Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil est, blanditiis necessitatibus ut nobis praesentium minus ipsum consequuntur repellendus eos ab iusto eum fugiat itaque eius animi odio possimus similique?</h3>
            <div class="GlowingGradientButtonBox my-2">
              <a href="#" >Check Now</a>
          </div>
          </div>
          <div class="col-6 main-header-right">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="public/images/RainyWeather.jfif" class="w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="public/images/CloudyWeather.jfif" class="w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="public/images/SunnyWeather.jfif" class="w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <br>
    {{>footer}}
    <script src="https://kit.fontawesome.com/978ee8aedf.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>